In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [17]:
breastcancer = pd.read_csv("original_data/breastcancer.csv", index_col = 0)
diamonds = pd.read_csv("original_data/diamonds.csv", index_col = 0)
pima = pd.read_csv("original_data/pima.csv", index_col = 0)
shuttle = pd.read_csv("original_data/shuttle.csv", index_col = 0)
vowel = pd.read_csv("original_data/vowel.csv", index_col = 0)

In [18]:
breastcancer.head()

,Id,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
1,1000025,5,1,1,1,2,1.0,3,1,1,benign
2,1002945,5,4,4,5,7,10.0,3,2,1,benign
3,1015425,3,1,1,1,2,2.0,3,1,1,benign
4,1016277,6,8,8,1,3,4.0,3,7,1,benign
5,1017023,4,1,1,3,2,1.0,3,1,1,benign

In [19]:
breastcancer = breastcancer.drop('Id', axis = 1)
breastcancer = breastcancer.dropna()
breastcancer = breastcancer.sample(frac = 1)
breastcancer = breastcancer.reset_index().drop('index', axis = 1)
train, test = np.split(breastcancer, [int(0.8 * len(breastcancer))])

train.to_csv("original_data/breastcancer_train.csv", index=False)
test.to_csv("original_data/breastcancer_test.csv", index=False)

In [20]:
diamonds = diamonds.dropna()
diamonds = diamonds.sample(frac = 1).reset_index().drop('index', axis = 1)
train, test = np.split(diamonds, [int(0.8 * len(diamonds))])
train.to_csv("original_data/diamonds_train.csv", index=False)
test.to_csv("original_data/diamonds_test.csv", index=False)

In [21]:
pima = pima.dropna()
pima = pima.sample(frac = 1).reset_index().drop('index', axis = 1)
train, test = np.split(pima, [int(0.8 * len(pima))])
train.to_csv("original_data/pima_train.csv", index=False)
test.to_csv("original_data/pima_test.csv", index=False)

In [22]:
shuttle = shuttle.dropna()
shuttle = shuttle.sample(frac = 1).reset_index().drop('index', axis = 1)
train, test = np.split(shuttle, [int(0.8 * len(shuttle))])
train.to_csv("original_data/shuttle_train.csv", index=False)
test.to_csv("original_data/shuttle_test.csv", index=False)

In [23]:
vowel = vowel.dropna()
vowel = vowel.sample(frac = 1).reset_index().drop('index', axis = 1)
train, test = np.split(vowel, [int(0.8 * len(vowel))])
train.to_csv("original_data/vowel_train.csv", index=False)
test.to_csv("original_data/vowel_test.csv", index=False)

In [9]:
pima

,pregnant,glucose,pressure,triceps,insulin,mass,pedigree,age,diabetes
0,1,109,60,8,182,25.4,0.947,21,neg
1,7,147,76,0,0,39.4,0.257,43,pos
2,6,144,72,27,228,33.9,0.255,40,neg
3,2,68,70,32,66,25.0,0.187,25,neg
4,0,177,60,29,478,34.6,1.072,21,pos
...,...,...,...,...,...,...,...,...,...
763,8,196,76,29,280,37.5,0.605,57,pos
764,0,131,0,0,0,43.2,0.270,26,pos
765,6,134,70,23,130,35.4,0.542,29,pos
766,8,110,76,0,0,27.8,0.237,58,neg
767,1,103,30,38,83,43.3,0.183,33,neg

In [20]:
X_train, X_test, y_train, y_test = train_test_split(breastcancer.iloc[:,:-1], breastcancer.iloc[:, -1], test_size = 0.2)

In [21]:
X_train

,Id,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses
597,1325309,4,1,2,1,2,1.0,2,1,1
656,1326892,3,1,1,1,2,1.0,2,1,1
55,1110524,10,5,5,6,8,8.0,7,1,1
19,1050670,10,7,7,6,4,10.0,4,1,2
575,378275,10,9,7,3,4,2.0,7,7,1
...,...,...,...,...,...,...,...,...,...,...
595,1315506,4,8,6,3,4,10.0,7,1,1
104,1168359,8,2,3,1,6,3.0,7,1,1
168,1198128,10,8,10,10,6,1.0,3,1,10
306,659642,10,8,4,4,4,10.0,3,10,4
357,859164,5,3,3,1,3,3.0,3,3,3

In [11]:
breastcancer.dropna()

,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
0,5,1,1,3,4,1.0,3,2,1,benign
1,1,1,1,1,2,1.0,2,1,1,benign
2,5,1,1,4,2,1.0,3,1,1,benign
3,2,1,1,1,2,1.0,2,1,1,benign
4,2,1,1,1,2,1.0,2,1,1,benign
...,...,...,...,...,...,...,...,...,...,...
693,5,1,1,1,2,1.0,2,2,1,benign
694,8,6,5,4,3,10.0,6,1,1,malignant
695,5,1,1,1,1,1.0,1,1,1,benign
697,4,3,1,1,2,1.0,4,8,1,benign
698,3,1,1,1,1,1.0,1,1,1,benign